.section-serch-form{
 @include size(40%,90%,0);
 min-width: 320px;
 margin: auto 0;
 @include flex(column,space-evenly,center);


 input{
  @include size(80%,30px,2px);
  background-color: color("fur");
  border: none;
  text-align: center;
  @include font(1.8rem,500,auto,color("black"));
  &::placeholder{
   color :color("black");
  }
 }
 button{
  @include size(20%,40px,3px);
  @include flex(row,end,center);
  min-width: 150px;
  background-color: color("furBlack");
  
  p{
   @include font(1.8rem,500,2rem,color("while"));
   margin-left:auto;
  }
  img{
   @include size(20px,20px,0);
   margin: {
    top: auto;
    bottom: auto;
    left: auto;
    right:5px ;
   };
  }
 }
}

.grid-item{
 @include flex(column,center,center);
 @include size(100%,90px,0);

 label{
  text-align: center;
  @include font(1.8rem,500,2.5rem,color("black"));
 }
}