.section-list-services figure{
 @include size(12%,100%,0);
 min-width: 150px;
 margin: 0;
 position: relative;
 
 @include media(1207px){
   min-width: 20%;
  }
  @include media-down("md"){
    min-width: 33%;
 }
 @include media-down("sm"){
   min-width: 50%;
 }
 
 ul{
   position: absolute;
   
   bottom: -398px;
   margin-top: 100%;
   @include size(100%,0,0);
   @include flex(column,end,center);
   transition: 0.2s;
   z-index: 3;
   
   @include media-down("sm"){
     bottom: -310px;
    }
    
    &:hover{
      @include size(100%,auto,0);
      .links-service{
        visibility: visible;
      }
    }

    
    & h4{
  background-color: color("fur");
    @include size(100%,4rem,0);
    @include font(1.6rem,bold,4rem,color("black"));
    text-align: center;
    margin: 0;
    
    @include media-down("sm"){
      @include font(2rem,bold,4rem,color("black"));
    }
  }
  .links-service{
    visibility: hidden;
    @include size(95%,auto,0);
    min-height: 50px;
    background-color: color("fur");
    text-align: center;
    padding: 10px 6px;
    a{
    @include font(1.9rem,500,2rem,color("black"));
   }
  }
 }  

 img{
  @include size(100%,100%,0);
  object-fit: cover;
  object-position: 0 0%;
  margin: 0 auto;
  z-index: 1;
  transition: 0.2s;
  @include media-down("sm"){
    object-position: 0 40%;
  }
 }
}


.section-list-services figure:nth-child(4){
  ul h4{
    @include font(1.4rem,bolder,1.4rem,color("black"));
    padding: 6px 0;
    @include media-down("sm"){
      padding: 2px 0;
      @include font(1.8rem,bolder,1.8rem,color("black"));
    }
  }
}

.section-images{
 @include size(100%,100%,0);
 display: grid;
 place-content: start center;
 place-items: center;
 grid-template-columns: repeat(6,1fr);
 grid-template-rows:317px;

 @include media-down("md"){
  grid-template-columns: repeat(3,minmax(150px,250px));
  grid-template-rows: 1fr 1fr;
}
@include media-down("sm"){
   grid-template-columns: repeat(2,50%);
   grid-auto-rows: 1fr;
 }
  img{
  @include size(100%,100%,0);
  background-position: 0 0%;
  object-fit: cover;
  transition: 0.2s;
 }
}

.card-plan{
  @include size(250px,250px,0);
  min-width: 320px;
  margin-top: 10%;
  position: relative;
  @include media-down("md"){
    margin-top: 20%;
  }
  h4{
    @include font(2.5rem,bold,8rem,color("fur"));
    width: 100%;
    letter-spacing: 2px;
    border-radius: 30px;
    text-align: center;
    background: color("black");
    position: absolute;
    top: -85px;
    left: 4px;
  }
  ul{
    background-color:color("furWhile");
    @include size(90%,200px,0);
    @include flex(column,space-evenly,start);
    margin: 0 auto;
    padding: 0 20px;
    li{
      p ,h5{
        margin: 0;
        @include font(2rem,500,2rem,color("black"))
      }
    }
  }
}