.nav{
  @include flex(row,space-between,center);
  width: 100%;
  height: 100%;

  .logo{
    @include size(90px,80px,0);
    margin-left: 20px;

    @include media-down("sm"){
      margin: 0
    }
    img{
      @include size(100%,100%,0);
      object-fit: contain;
    }
  }

  .nav-menu{
   width: 60%;
   @include flex(row,space-evenly,center);
   margin-right: 10px;
   @include media-down("xl"){
     @include flex(column,space-evenly,center);
     @include size(100%,89%,0);
     margin: 0;
     position:fixed;
     z-index: 50;
      overflow-y: hidden;
      left: 100%;
      bottom:0;
      background:color("fur");
      transition:0.2s all;
      overflow-y:auto;

      .nav-menu-item{
        margin: 0 auto;
       }
    }
    .nav-menu-link{
      @include font(1.8rem,500,1.8rem,color("black"));
      letter-spacing: 1px;
      @include media-down("xl"){
        @include font(2.6rem,500,3rem,color("black"));
      }
    }
  }
    .nav-menu__visible{
      left: 0;
    }
  }
  .nav-toggle{
    @include size(10%,100%,0);
    display: none;
    @include media-down("xl"){
      display: block;
      margin:0 20px;
      cursor: pointer;
      margin-right: 40px;
    }
  }
 
 .nav-menu-link{
  padding: 8px 12px;
  border-radius: 3px;
  transition:0.2s;
  position:relative;
  
  &:hover{
   background-color: color("furWhile");
   transition:0.2s;
   transform:rotate(0);
  }
 }