.section-academias{
 width: 100%;
 height: auto;
 display: grid;
 grid-template-rows: 0.5fr 1fr 1.5fr;
 @include media-down("md"){
  grid-template-rows: 1fr 0.5fr 1fr;
 }
 @include media-down("md"){
  grid-template-rows: 1fr 1fr 0.5fr;
 }

 .section-data{
  padding-bottom: 20px;

 }
 .section-serch{
  width: 100%;
  height:auto;
  background: {
   image : url("../../images/mapa.png");
   position: center;
   repeat:no-repeat;
   size: contain;
  }
  display: flex;
  justify-content: center; 
 }
}