.section-academias{
 width: 100%;
 height: auto;
 display: grid;
 grid-template-rows: 0.5fr 0.5fr 1.5fr;

 max-height:1900px;
 margin-bottom:80px;
 
 .section-data{
  max-height: 320px;
  padding-bottom: 20px;

 }
 .section-serch{
  width: 100%;
  height:auto;
  display: flex;
  justify-content: center; 
  @include flex(column,center,center);
  
  .section-serch-form input{
   margin:5px 0;
  }
 }
}

.section-map{
 display: grid;
 place-items:center;
 img{
  width: 100%;
  height:auto;
  object-fit:contain;

 }
}