.section-list-services{
 @include size(100%,auto,0);
 display: grid;
 place-content: center;
 place-items: center;
 grid-template-columns: repeat(auto-fit,317px);
 grid-auto-flow: row;
 grid-auto-rows: 1fr;
 @include media-down("sm"){
  grid-template-columns: repeat(auto-fit,100%);
 }
}
.section-institucional{
 @include size(100%,auto,0);
}