.section-list-services{
 @include size(100%,auto,0);
 @include flex(row,center,start);
 flex-wrap: wrap;
}
.section-institucional{
 @include size(100%,auto,0);
 padding:50px 0; 
 @include media-down("xl"){
  padding: 0;
 };
 @include media-down("md"){
  padding:20px 0 ;
 };
}