.section-registrar{  
  @include size(90%,auto,0);
  padding: 40px 0;
  margin:0 5%;

  @include media-down("md"){
    @include size(100%,auto,0);
    margin: 0;
  }

  background: {
    image : url("../../images/background-papiro.jpg");
    repeat: no-repeat;
    size:cover;
  }
  padding-top: 80px;

  .section-registrar--form{
    @include size(90%,100%,0);
    display: grid;
    margin: 0 auto;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
    gap: 40px;
    @include media-down("xl"){
      grid-template-columns: 1fr;
      @include size(95%,auto,0);
    }
  }
  & article,& .item:nth-child(19),& input[type="submit"] {
    grid-column: 1/3;
    @include media-down("xl"){
      grid-column: 1/2;
    }
  }
  .item{
    @include flex(column,center,center);
  }
}

  .section-planes{
    width: 100%;
    @include flex(row,center,center);
    flex-wrap: wrap;
  
}

.section-registrar-article .article-info{
  margin-top:50px;
}