.section-register{
  @include size(100%,auto,0);


 .section-register--form{
   .register-form-grid{
     @include size(90%,auto,0);
     display: grid;
     margin: 0 auto;
     place-items: center;
     grid-template-columns: 1fr 1fr;
     grid-auto-rows: auto;
     grid-gap: 30px;

     @include media-down("xl"){
       @include flex(column,space-evenly,center);
     }
    //  @include media-down("md"){
    //    width: 100%;
    //  }
  }
 }
}