.section-miPerfil{
 @include size(100%,auto,0);
 .main-perfil--data-user{
  margin-top: 60px;
  @include flex(row,center,center);
  @include media-down("xl"){
   @include flex(column,center,center);
  }
  figure.perfil--data{
   @include size(40%,auto,0);
   background-color: red;
   min-width: 450px;
   
   @include media-down("sm"){
    min-width: 310px;
    @include flex(column,center,center);
    }
   .image{
    @include size(180px,180px,0);
   }
   .icon{
    @include size(1.8rem,1.8rem,0);
   }
  }
  .data-user,.data-user--academia{
   @include flex(row,space-evenly,center);
   @include font(1.8rem,500,1.8rem,color("black"));
  }
  .data-user--academia{
   @include flex(row,space-between,center);
   padding: 0 2%;
  
   div{
    @include flex(column,space-evenly,center);
   }
   .editar{
    align-self: flex-end;
   }
  }
 }
 .main-perfil--data-alumno{
  @include size(100%,auto,0);
  h4{
   @include font(3rem,bold,3.5rem,color("black"));
   padding: 0 140px;
   @include media-down("xl"){
    text-align: center;
   }
   @include media-down("sm"){
    @include font(2rem,bold,3.5rem,color("black"));
    padding:0;

   }
  }
   ul{
    width: 100%;
    max-height: 120px;
    @include flex(row,center,center);
    overflow-x: auto;
    ul::-webkit-scrollbar{
     width: 0;
    }
    li{
     width: auto;
     margin: 0 15px;
     @include media-down("md"){
      @include flex(row,space-between,center);
       @include font(2rem,500,2.5rem,color("black"));
     }
    }
   }
 }
}