@mixin size($w,$h,$br){
  width: $w;
  height: $h;
  border-radius: $br;
}

@mixin  flex($direction,$justify,$align){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin  font($s,$fw,$lh,$c){
  font-size: $s;
  font-weight: $fw;
  line-height: $lh;
  color: $c;
}

@mixin media-down($width){
  @media (max-width:map-get($map: $breakPoint,$key:$width)){
    @content;
  }
}
@mixin media($width){
  @media (max-width:$width){
  @content;
  }
}

@mixin animation($class,$n,$d,$t,$ic){
  .#{$class}{
    animation : $n $d $t;
    animation-iteration-count : $ic;
  }
  @keyframes #{$n} {
    @content;
  }
}