@mixin size($w,$h,$br){
  width: $w;
  height: $h;
  border-radius: $br;
}

@mixin  flex($direction,$justify,$align){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin  font($s,$fw,$lh,$c){
  font-size: $s;
  font-weight: $fw;
  line-height: $lh;
  color: $c;
}

@mixin media-down($width){
  @media (max-width:map-get($map: $breakPoint,$key:$width)){
    @content;
  }
}

@mixin animation($class,$n,$d,$t,$ic){
  .#{$class}{
    animation : $n $d $t;
    animation-iteration-count : $ic;
  }
  @keyframes #{$n} {
    @content;
  }
}

@mixin article($name,$colorTitle,$fontP,$colorP,$marginTop,$justifyText,$widthImg){
  #{$name}{
   @include size(100%,100%,0);
   display: grid;
   place-content: center;
   place-items: center;
   grid-template-columns: 1fr 1fr;
   grid-template-rows : 1fr;
   margin: 20px auto;
   margin-top:$marginTop;
   @include media-down("xl"){
    @include flex(column,center,center);
    margin: 0 auto;
    margin-top: $marginTop;
   }
   & img{
    @include size($widthImg,$widthImg,0);
    object-fit: contain;
    margin: auto;
    @include media-down("xl"){
     display: none;
    }
   }
 
   .article-info{
    @include flex(column,space-evenly,center);
    grid-column: 2/3;
    grid-row: 1/3;
    position: relative;
 
    & img{
     @include size(200px,200px,100%);
     margin-bottom: auto;
    }
 
    h4{
     z-index: 50;
     border-radius: 5px;
     @include font(3.5rem,bold,4rem,color($colorTitle));
     text-align: center;
    }
    }
    p{
     @include size(100%,auto,0);
     @include font($fontP,500,3.5rem,color($colorP));
     text-align: $justifyText;
     @include media-down("xl"){
       @include font(1.8rem,500,3rem,color($colorP));
       margin: 0 15px;
      text-align: center;
     }
     @include media-down("xl"){
      @include font(1.8rem,500,2.5rem,color($colorP));
     }
    }
   }
  }