$palette :(
  "yellow" : #F0941F,
  "orange" : #EF6024,
  "blueGreen" : #90A19D,
  "blue" :#0e505c,
  "black" :#363432,
  "while" :#fff
);

$font : (
 "small": 1.4rem,
 "great" : 2rem
);

$breakPoint : (
  "sm":540px,
  "md":768px,
  "xl":1045px,
);