$palette :(
  "furWhile" : #ecc8b1,
  "fur" : #c5a691,
  "furBlack" : #9b7f6c,
  "blueGreen" : #90A19D,
  "blue" :#0e505c,
  "black" :#000000,
  "while" :#fff
);

$font : (
 "small": 1.4rem,
 "great" : 2rem
);

$breakPoint : (
  "sm":540px,
  "md":768px,
  "xl":1045px,
);